/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2024 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 */

$primary: #2c5c8f;
$primary-fg: #ffffff;
$link-color: #4c8ba4;
$mainmenu_bg: #2c5c8f;
$mainmenu_fg: #f4f8fb;

// Custom client branding
$logo-light: "../pics/logos/logo-asin.png";
$logo-dark: "../pics/logos/logo-asin.png";
$logo-light-login: "../pics/logos/logo-asin.png";
$logo-dark-login: "../pics/logos/logo-asin.png";
$logo: $logo-light;
$logo_reduced: "../pics/logos/logo-asin-colors.png";

@import "../includes/palette_light";
@import "../includes/premium_overrides";
